.carousel {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: calc((100% / 3) - 1rem);
    margin: 0.5rem;
    background-color: #f2f2f2;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  
  .card h3 {
    margin: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
  }
  
  .card p {
    margin: 1rem;
    font-size: 1rem;
    color: #666;
  }
  
  .controls {
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #bfbebe;
  }
  
  .prev {

    z-index: 50;
    height: 100%;
    left: 0;
    top: 150px;
  }
  
  .next {

    z-index: 50;
    height: 100%;
    right: 0;
    top: 150px;
  }
  
  @media screen and (max-width: 899px) {
    .card {
      width: calc((80% / 2) - 1rem);
    }
  }
  
  @media screen and (max-width: 599px) {
    .card {
      width: 80%;
    }
  }