.ContenedorHeader {
  width: 100%;

  margin: 0 auto;
  background-color: rgb(59, 59, 59);
  position: fixed;
  z-index: 300;

  transform: translate(-50%, -50%);
  top: 31px;
  left: 50%;
}

.ContenedorNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: relative;
  padding: 0 20px;
}

.Titulo {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: var(--secondary-accent);
  position: fixed;
  left: 15px;
  top: 15px;
}
.MenuItem {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 33px;
  text-decoration: none;
  background-color: var(--secondary-accent);
  border: 0;
  border-radius: 35px;
  padding: 9px;
  display: flex;
  gap: 15px;
  flex-direction: row;
  margin: 5px;
}

.MenuItem:hover {
  color: var(--accent-color);
}
.MenuItems {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: row;
}
@media (min-width: 768px) {
  .ContenedorNavbar svg {
    display: none;
  }
}

@media (min-width: 1200px) {
  .ContenedorNavbar {
    padding: 0 100px;
  }
}
